<!DOCTYPE html>
<html lang = "en">
<head>
<!--<meta http-equiv="refresh" content="30">-->
</head>
  <hr>
  <h1>Welcome! This site host the Current status of Rack 1!</h1>
  <hr />
  <ul>
  <p align="center"><a href='/' ><button class=grey style="height:100px;width:49%">Home</button></a></p>
  <div class="btn-group" style="width:100%">
    
    <a href='/rack1' ><button class=grey style="height:100px; width:49%">Rack 1</button></a>
    <button class=grey style="height:100px; width:49%">Rack 2</button>
    <button class=grey style="height:100px; width:49%">Rack 3</button>
    <button class=grey style="height:100px; width:49%">Rack 4</button>
  </div>
  <!--  <p align="left"><a href='/' ><button class=grey style="height:75px;width:150px">Home</button></a></p>-->
  <!--  <p align="center"><a href='/rack1' ><button class=grey style="height:75px;width:150px">Rack 1</button></a></p>-->
    
   <table border = 1>
        <tr>
            {% for bays in headings %}
            <th>{{bays}} </th>
            {% endfor %}
        </tr>
        
        <tr>
            {% for status in data%}
            <td> {{status}} </td>
            
            {% endfor %}
        </tr>
        
        </tr>
    <table>
  </ul>
  
  
  <br />
</html>
